/*********************************
 Autor: Alamillo Arroyo, Sara
 Fecha creación: 28/01/2015
 Última modificación: 12/02/2015
 Versión: 1.00
 *********************************/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:aliceblue;
}
#ladoIzquierdo {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0 auto;
    box-shadow:5px 0px 30px black;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: white;
}
#ladoDerecho {
    float: left;    
    width: 75%;
    height: 100%;
}
#boton {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#boton button {
    background-color: #090fe2;
    border-color:white;
    border-style:dotted;
    color: white;
    font-size: 25px;
}
#boton button:hover {
    border-color:#000033
}
#boton button:active {
    border-color: white;
    border-radius: 50%;
    outline: none;
    font-size: 50px;
}

#ladoIzquierdo input[type="text"] {
    padding-left: 5px;
    box-sizing: border-box;
    width: 125px;
}
#ladoIzquierdo select {
    width: 125px;
}
#tabla{
    margin: auto;
    display: table;
    text-align: center;
}
#columna{
    text-align: right;
    display: table-cell;
    width: 150px;
}
#informacion {
    text-align: center;
}
h4 {
    line-height: 2px;
}
hr {
    height: 10px;
    background-color:aliceblue;
    border: none;
}
#carton {
    width: 75%;
    margin: auto;
    background-color: #090fe2;
    border-radius: 30px;
}
#carton td {
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 50px;
    text-align: center;
    font-size:xx-large;
}
.numero {
    background-color: white;
    color: #090fe2;
}
.numOculto {
    background-color: white;
    background-image: url('img/bombo.png');
}
.marcado {
    background-color: red;
    color: white;
}
#bombo {
    background-color: #090fe2;
    color: white;
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    padding: auto;
}