/*********************************
 Autor: Alamillo Arroyo, Sara
 Fecha creación: 11/02/2015
 Última modificación: 11/02/2015
 Versión: 1.00
 *********************************/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:aliceblue;
}
#ladoIzquierdo {
    float: left;
    width: 40%;
    height: 100%;
}
#ladoDerecho {
    margin: auto;
    float: left;    
    width: 60%;
    height: 100%;
}